<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
	<div class="kt-footer__copyright">
		Copyright &copy;&nbsp;2019&nbsp; Keuskupan Larantuka. Powered by<a href="https://KeuskupanLarantuka.id/"
			target="_blank" class="kt-link">&nbsp;Keuskupan Larantuka</a>
	</div>
	<!-- <div class="kt-footer__menu">
							<a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">About</a>
							<a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">Team</a>
							<a href="http://keenthemes.com/metronic" target="_blank" class="kt-footer__menu-link kt-link">Contact</a>
						</div> -->
</div>